.ofertas {
  color: white;
  display: grid;
  width: calc(100vh -50px   );
  height: calc(100vh   );
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  margin: 0 2rem;
   
  
}

.ofertas__title {
  grid-column: 2/4;
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: 2px 6px 5px red;
  cursor: pointer;
}

.ofertas__title:hover{
    font-size: 4.3rem;
    transition: 2s;
}

.img__oferta1 {
  background: url(../asset/tshirt.png) center/cover no-repeat;
  grid-column: 2/4;
  grid-row: 2/4;
  margin: 1.5rem;
}

.img__oferta2 {
  background: url(../asset/tshirt-oferta.png) center/cover no-repeat;
  grid-column: 2/4;
  grid-row: 4/6;
  margin: 1.5rem;
}

.precio__oferta1 {
  text-decoration: line-through;
  background: none;
  color: rgb(223, 247, 14);
  font-size: 3.3rem;
  text-align: left;
}

.precio__actual1 {
  background: none;
  color: rgb(3, 248, 3);
  text-align: center;
  top: 1rem;
  font-size: 5rem;
}

.precio__oferta2 {
  text-decoration: line-through;
  background: none;
  color: rgb(223, 247, 14);
  font-size: 3.3rem;
  text-align: left;
}

.precio__actual2 {
  background: none;
  color: rgb(3, 248, 3);
  text-align: center;
  top: 1rem;
  font-size: 5rem;
}
